<launch>

<param from="$(find terrestrial_robot)/config/controller.yaml" />
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="Terrestrial_Robot_Export" 
      args="backleft_position_controller
            backright_position_controller
            frontright_position_controller
            frontleft_position_controller
            joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/Terrestrial_Robot_Export/joint_states"/>
</node>

</launch>